<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration Version="2"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

     <RestoreMode>Full</RestoreMode>

     <IncludedObjectTypes>
          <IncludeAll />
     </IncludedObjectTypes>

     <ExcludedObjectTypes>
          <ObjectType>cms.alternativeform</ObjectType>
     </ExcludedObjectTypes>

     <IncludedContentItemsOfType>
          <IncludeAll />
     </IncludedContentItemsOfType>

     <ObjectFilters>
          <ExcludedCodeNames ObjectType="cms.notificationemail">Kentico.%</ExcludedCodeNames>
     </ObjectFilters>

     <ContentItemFilters>
     </ContentItemFilters>

</RepositoryConfiguration>